<body class="home_page_body">

<div class="home_page">
  <h1 class="text_to_center"> Awesome Movie Search WebApp </h1>

  <div class="text_to_center">
    <form class="form-search" action='/search' method='post'>
	  <label for='search_movie_entry'> Enter Movie Name </label>
	  <p>
	  <input type='text' class="input-medium search-query" name='search_movie_entry'/>
      </p>
	  <button type="submit" class="btn">Search!</button>
    </form>
  </div>
</div>



</body>