<!doctype html>

<html>
  <head>
    <title>This is for Eu-wen's WDI Sinatra movie project on April 8th 2013</title>
    <link rel="stylesheet" href="/style.css">
    <link rel="stylesheet" href="/bootstrap.css">
  </head>

  <body>

    <%= yield :home %>

  </body>

</html>